:root {
  /* color */
  --color-white: #ffffff;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font wight */
  --weigh-bold: 700;
  --weigh-semi-bold: 600;
  --weigh-regular: 400;

  /* size */
  --size-border-radius: 4px;
}

/* universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:  'Noto Serif KR', serif;;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weigh-bold);
  margin: 16px 0px 0 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weigh-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--font-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-medium);
  font-weight: var(--font-regular);
  margin: 4px 0;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:steelblue;
  color: var(--color-white);
  padding: 16px;

}

.navbar__menu {
  display: flex;
  
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weigh-semi-bold);
}

.navbar__menu__items {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__items.active {
  border: 2px solid var(--color-white);
}

.navbar__menu__items:hover {
  background-color: yellowgreen;
  
}